.renderResponse{
    width: 100%;
    font-size: medium;
    height: 75px;
    border: 1px solid #000;
    overflow-y: auto; 
    white-space: normal;
    border-radius: 15px;
    padding: 5px;
}

.renderResponse::-webkit-scrollbar {
    display: none; 
}